<!DOCTYPE html>
<html>
  <head>
    <title>Webcounter | {{version }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Webcounter</h1>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
      <h2>You have seen this {{ hits }} times</h2>
      <pre>Daniele is again running version: {{ version }}</pre>
    </div>
  </body>
</html>